syntax:glob
_xmsgs/
isim/
templates/
xst/
simulation/
doc/
implement/
example_design/
ipcore_dir/*.vhd
ipcore_dir/*.sym
ipcore_dir/*.vho
ipcore_dir/*.tcl
*.xreport
*.txt
*.cmd
*.cfi
*.mcs
*.bit
*.prm
*.ncd
*.wdb
*.exe
*.lso
*.prj
*.stx
*.xst
*.log
*.xmsgs
*.7z
*.asy
*.ngc
*.cgp
*.html
*.ini
