syntax:glob
.DAV/
._DAV/
_xmsgs/
isim/
templates/
xst/
simulation/
doc/
misc/
binary/
implement/
example_design/
ipcore_dir/*.vhd
ipcore_dir/*.sym
ipcore_dir/*.vho
ipcore_dir/*.tcl
ipcore_dir/tmp/
*.xreport
*.txt
*.cmd
*.cfi
*.mcs
*.bit
*.prm
*.ncd
*.wdb
*.exe
*.lso
*.prj
*.stx
*.xst
*.log
*.xmsgs
*.7z
*.asy
*.ngc
*.cgp
*.html
*.ini
*.map
*.mrp
*.ngm
*.xrpt
*.xml
*.bgn
*.bld
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.ptwx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xbcd
*.csv
*.cmd_log
*.drc
*.lst
*.alc