#REM Scan on dedicated PCB v1

NET CLK50_I PERIOD = 20ns HIGH 50%; #50 MHz

NET "CLK50_I"					LOC = P50	| IOSTANDARD = LVCMOS33;
NET "RST_I"						LOC = P51	| IOSTANDARD = LVCMOS33 | PULLDOWN;

#NET "LED"                       LOC = P48	| IOSTANDARD = LVCMOS33;
#NET "BTN<0>"                    LOC = P141	| IOSTANDARD = LVCMOS33;
#NET "BTN<1>"                    LOC = P140	| IOSTANDARD = LVCMOS33;

# Control
NET "CONTROL_O"				    LOC = P93	| IOSTANDARD = LVCMOS33;

# I/O's for DAC SPI
NET "DAC_SCK_O"					LOC = P81	| IOSTANDARD = LVCMOS33;
NET "DAC_nCS_O"					LOC = P82	| IOSTANDARD = LVCMOS33;
NET "DAC_MOSI_O"				LOC = P80	| IOSTANDARD = LVCMOS33;
NET "DAC_MISO_I"				LOC = P75	| IOSTANDARD = LVCMOS33 | PULLDOWN;

NET "DAC_nLOAD_O"				LOC = P79	| IOSTANDARD = LVCMOS33;
NET "DAC_nCLR_O"				LOC = P78	| IOSTANDARD = LVCMOS33;

# I/O's for ADC
NET "ADC_CNV_O"					LOC = P101	| IOSTANDARD = LVCMOS33;
NET "ADC_SCK_O"					LOC = P99	| IOSTANDARD = LVCMOS33;
NET "ADC_SD0_I"					LOC = P100	| IOSTANDARD = LVCMOS33;		# Goes low to signal conversion finished
NET "ADC_SD1_I"					LOC = P102	| IOSTANDARD = LVCMOS33;		# Goes low to signal conversion finished

NET "UART_TX_O"               	LOC = P132	| IOSTANDARD = LVCMOS33;
NET "UART_RX_I"              	LOC = P133	| IOSTANDARD = LVCMOS33;
#NET "UART_RTS_I"				LOC = P131	| IOSTANDARD = LVCMOS33;
#NET "UART_CTS_O"				LOC = P127	| IOSTANDARD = LVCMOS33;

NET "VGA_VSYNC_O"               LOC = P33   | IOSTANDARD = LVCMOS33;
NET "VGA_HSYNC_O"               LOC = P34   | IOSTANDARD = LVCMOS33;

NET "VGA_GRAY_O<7>"             LOC = P21   | IOSTANDARD = LVCMOS33;
NET "VGA_GRAY_O<6>"             LOC = P17   | IOSTANDARD = LVCMOS33;
NET "VGA_GRAY_O<5>"             LOC = P16   | IOSTANDARD = LVCMOS33;
NET "VGA_GRAY_O<4>"             LOC = P15   | IOSTANDARD = LVCMOS33;
NET "VGA_GRAY_O<3>"             LOC = P14   | IOSTANDARD = LVCMOS33;
NET "VGA_GRAY_O<2>"             LOC = P12   | IOSTANDARD = LVCMOS33;
NET "VGA_GRAY_O<1>"             LOC = P11   | IOSTANDARD = LVCMOS33;
NET "VGA_GRAY_O<0>"             LOC = P10   | IOSTANDARD = LVCMOS33;
