#REM Scan on dedicated PCB v1

NET CLK50_I PERIOD = 20ns HIGH 50%; #50 MHz

NET "CLK50_I"					LOC = P50	| IOSTANDARD = LVCMOS33;
NET "RST_I"						LOC = P51	| IOSTANDARD = LVCMOS33 | PULLDOWN;

NET "LED_O"                     LOC = P48	| IOSTANDARD = LVCMOS33;
NET "BTN_I<0>"                  LOC = P141	| IOSTANDARD = LVCMOS33;
NET "BTN_I<1>"                  LOC = P140	| IOSTANDARD = LVCMOS33;

NET "DCDC_EN_O"					LOC = P56	| IOSTANDARD = LVCMOS33;

# Control
NET "CONTROL_O"				    LOC = P93	| IOSTANDARD = LVCMOS33;

# I/O's for DAC SPI
NET "DAC_SCK_O"					LOC = P81	| IOSTANDARD = LVCMOS33;
NET "DAC_nCS_O"					LOC = P82	| IOSTANDARD = LVCMOS33;
NET "DAC_MOSI_O"				LOC = P80	| IOSTANDARD = LVCMOS33;
NET "DAC_MISO_I"				LOC = P75	| IOSTANDARD = LVCMOS33 | PULLDOWN;

NET "DAC_nLOAD_O"				LOC = P79	| IOSTANDARD = LVCMOS33;
NET "DAC_nCLR_O"				LOC = P78	| IOSTANDARD = LVCMOS33;

# I/O's for ADC
NET "ADC_CNV_O"					LOC = P101	| IOSTANDARD = LVCMOS33;
NET "ADC_SCK_O"					LOC = P99	| IOSTANDARD = LVCMOS33;
NET "ADC_SD0_I"					LOC = P100	| IOSTANDARD = LVCMOS33;		# Goes low to signal conversion finished
NET "ADC_SD1_I"					LOC = P102	| IOSTANDARD = LVCMOS33;		# Goes low to signal conversion finished

NET "UART_TX_O"               	LOC = P132	| IOSTANDARD = LVCMOS33;
NET "UART_RX_I"              	LOC = P133	| IOSTANDARD = LVCMOS33;
NET "UART_RTS_I"				LOC = P131	| IOSTANDARD = LVCMOS33;
NET "UART_CTS_O"				LOC = P127	| IOSTANDARD = LVCMOS33;

#NET "FIFO_CLK_I"				LOC = P134	| IOSTANDARD = LVCMOS33;
#NET "FIFO_DATA_IO<0>"			LOC = P133	| IOSTANDARD = LVCMOS33;
#NET "FIFO_DATA_IO<1>"			LOC = P132	| IOSTANDARD = LVCMOS33;
#NET "FIFO_DATA_IO<2>"			LOC = P131	| IOSTANDARD = LVCMOS33;
#NET "FIFO_DATA_IO<3>"			LOC = P127	| IOSTANDARD = LVCMOS33;
#NET "FIFO_DATA_IO<4>"			LOC = P126	| IOSTANDARD = LVCMOS33;
#NET "FIFO_DATA_IO<5>"			LOC = P124	| IOSTANDARD = LVCMOS33;
#NET "FIFO_DATA_IO<6>"			LOC = P123	| IOSTANDARD = LVCMOS33;
#NET "FIFO_DATA_IO<7>"			LOC = P121	| IOSTANDARD = LVCMOS33;
#NET "FIFO_nRXF_I"				LOC = P120	| IOSTANDARD = LVCMOS33;
#NET "FIFO_nTXE_I"				LOC = P119	| IOSTANDARD = LVCMOS33;
#NET "FIFO_nRD_O"				LOC = P118	| IOSTANDARD = LVCMOS33;
#NET "FIFO_nWR_O"				LOC = P117	| IOSTANDARD = LVCMOS33;
#NET "FIFO_nOE_O"				LOC = P114	| IOSTANDARD = LVCMOS33;
#NET "FIFO_SIWU_O"				LOC = P116	| IOSTANDARD = LVCMOS33;

#NET "FTDI_nPWREN_I"				LOC = P112	| IOSTANDARD = LVCMOS33;
#NET "FTDI_nSUSPEND_I"			LOC = P111	| IOSTANDARD = LVCMOS33;

NET "VGA_VSYNC_O"               LOC = P21   | IOSTANDARD = LVCMOS33;
NET "VGA_HSYNC_O"               LOC = P22   | IOSTANDARD = LVCMOS33;

NET "VGA_GRAY_O<7>"             LOC = P35   | IOSTANDARD = LVCMOS33;
NET "VGA_GRAY_O<6>"             LOC = P34   | IOSTANDARD = LVCMOS33;
NET "VGA_GRAY_O<5>"             LOC = P33   | IOSTANDARD = LVCMOS33;
NET "VGA_GRAY_O<4>"             LOC = P32   | IOSTANDARD = LVCMOS33;
NET "VGA_GRAY_O<3>"             LOC = P30   | IOSTANDARD = LVCMOS33;
NET "VGA_GRAY_O<2>"             LOC = P29   | IOSTANDARD = LVCMOS33;
NET "VGA_GRAY_O<1>"             LOC = P27   | IOSTANDARD = LVCMOS33;
NET "VGA_GRAY_O<0>"             LOC = P26   | IOSTANDARD = LVCMOS33;

NET "DBG_O<7>"					LOC = P7	| IOSTANDARD = LVCMOS33;
NET "DBG_O<6>"					LOC = P6	| IOSTANDARD = LVCMOS33;
NET "DBG_O<5>"					LOC = P8	| IOSTANDARD = LVCMOS33;
NET "DBG_O<4>"					LOC = P5	| IOSTANDARD = LVCMOS33;
NET "DBG_O<3>"					LOC = P10	| IOSTANDARD = LVCMOS33;
NET "DBG_O<2>"					LOC = P1	| IOSTANDARD = LVCMOS33;
NET "DBG_O<1>"					LOC = P9	| IOSTANDARD = LVCMOS33;
NET "DBG_O<0>"					LOC = P2	| IOSTANDARD = LVCMOS33;