#REM Scan on LLT Scanner PCB

NET CLK50_I PERIOD = 20ns HIGH 50%; #50 MHz

NET "CLK50_I"					LOC = J16	| IOSTANDARD = LVCMOS33;
NET "RST_I"						LOC = P12	| IOSTANDARD = LVCMOS33 | PULLDOWN;

# Control
NET "nCONTROL_O"				LOC = M11	| IOSTANDARD = LVCMOS33;

# I/O's for DAC SPI
NET "DAC_SCK_O"					LOC = C9	| IOSTANDARD = LVCMOS33;
NET "DAC_nCS_O"					LOC = A7	| IOSTANDARD = LVCMOS33;
NET "DAC_MOSI_O"				LOC = A9	| IOSTANDARD = LVCMOS33;
NET "DAC_MISO_I"				LOC = C10	| IOSTANDARD = LVCMOS33 | PULLDOWN;

NET "DAC_nLOAD_O"				LOC = B10	| IOSTANDARD = LVCMOS33;
NET "DAC_nCLR_O"				LOC = A10	| IOSTANDARD = LVCMOS33;

# I/O's for ADC
NET "ADC_CNV_O"					LOC = P1	| IOSTANDARD = LVCMOS33;
NET "ADC_SCK_O"					LOC = M1	| IOSTANDARD = LVCMOS33;
NET "ADC_SD0_I"					LOC = N1	| IOSTANDARD = LVCMOS33 | PULLUP;		# Goes low to signal conversion finished
NET "ADC_SD1_I"					LOC = R1	| IOSTANDARD = LVCMOS33 | PULLUP;		# Goes low to signal conversion finished

NET "UART_TX_O"               	LOC = F15	| IOSTANDARD = LVCMOS33;
NET "UART_RX_I"              	LOC = D16	| IOSTANDARD = LVCMOS33;
NET "UART_CTS_O"				LOC = E15	| IOSTANDARD = LVCMOS33;
NET "UART_RTS_I"				LOC = E16	| IOSTANDARD = LVCMOS33;

NET "DBG_O<0>"               	LOC = C15	| IOSTANDARD = LVCMOS33 | DRIVE=16;
NET "DBG_O<1>" 	            	LOC = B16	| IOSTANDARD = LVCMOS33 | DRIVE=16;
NET "DBG_O<2>"              	LOC = B15	| IOSTANDARD = LVCMOS33 | DRIVE=16;
NET "DBG_O<3>"             		LOC = C16	| IOSTANDARD = LVCMOS33 | DRIVE=16; 
#NET "DBG_O<4>"                	LOC = E15	| IOSTANDARD = LVCMOS33 | DRIVE=16;	# CTS
#NET "DBG_O<5>"                	LOC = E16	| IOSTANDARD = LVCMOS33 | DRIVE=16; # RTS
#NET "DBG_O<6>"                	LOC = F15	| IOSTANDARD = LVCMOS33 | DRIVE=16;	# TX
#NET "DBG_O<7>"                	LOC = D16	| IOSTANDARD = LVCMOS33 | DRIVE=16; # RX

#NET "DBG_O<8>"                	LOC = G16	| IOSTANDARD = LVCMOS33 | DRIVE=16;
#NET "DBG_O<9>"                	LOC = H16	| IOSTANDARD = LVCMOS33 | DRIVE=16;
#NET "DBG_O<10>"               	LOC = H15	| IOSTANDARD = LVCMOS33 | DRIVE=16;

# OneWire Temperature Sensor
#NET "OWT_X"					LOC = A5	| IOSTANDARD = LVCMOS33;
#NET "OWT_Y"					LOC = A6	| IOSTANDARD = LVCMOS33;

# RS485 to Trumpf/Wobbel Trigger Input
#NET "RS485_IN"					LOC = H4	| IOSTANDARD = LVCMOS33;# | PULLUP; # Externally Pulled Up
#NET "RS485_OUT"				LOC = E1	| IOSTANDARD = LVCMOS33;
#NET "RS485_nRECEIVE"			LOC = H3	| IOSTANDARD = LVCMOS33;
#NET "RS485_TRANSMIT"			LOC = E2	| IOSTANDARD = LVCMOS33;

# Sync Signals
#NET "SYNCp<0>"					LOC = H4	| IOSTANDARD = LVDS_33;
#NET "SYNCn<0>"					LOC = H3	| IOSTANDARD = LVDS_33;
#NET "SYNCp<1>"					LOC = E2	| IOSTANDARD = LVDS_33;
#NET "SYNCn<1>"					LOC = E1	| IOSTANDARD = LVDS_33;

# I/O's for SPI Bus to LPC
#NET "nCS"						LOC = T7	| IOSTANDARD = LVCMOS33 | PULLUP;
#NET "SCK"						LOC = M7	| IOSTANDARD = LVCMOS33 | PULLDOWN;
#NET "MOSI"						LOC = P6	| IOSTANDARD = LVCMOS33 | PULLDOWN;
#NET "MISO"						LOC = P5	| IOSTANDARD = LVCMOS33 | PULLDOWN;

# I/O's for Triggering
#NET "TRIGGER_IN"				LOC = A11	| IOSTANDARD = LVCMOS33 | PULLUP;
#NET "TRIGGER_OUT"				LOC = A14	| IOSTANDARD = LVCMOS33;
#NET "TRIGGER_nRECEIVE"			LOC = B12	| IOSTANDARD = LVCMOS33;
#NET "TRIGGER_TRANSMIT"			LOC = A13	| IOSTANDARD = LVCMOS33;
#NET "TEST_TRIGGER"				LOC = M9	| IOSTANDARD = LVCMOS33 | PULLDOWN;
